---
import Social from './Social.astro';
---
<div id="footer">
    <footer class="backdrop-blur-md flex flex-wrap justify-center card gap-4 mt-4 bg-black/35 [&,&>*]:rounded-[9999px] fixed left-0 bottom-0 w-screen">
        <!--<Social platformName="github" platformURL="github.com" username="c0mputerhead" />-->
        <p class="card card-alt px-2 py-1 bg-black/40">Servicio secundario ofrecido por Computerhead. Todos los derechos reservados.</p>
    </footer>
</div>
